body {
  background: #eee;
}

body .reveal {
  background: #eee;
}

body .reveal h1 {
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  // text-shadow: 0px 2px 2px #ccc;
}

body .reveal h1 {
  font-size: 2em; 
  font-weight: bold;
  color: #27ae60;
}

body .reveal h2 {
  font-family: 'Droid Serif', serif;
  font-size: 1.11em;
  font-weight: bold; 
  color: #27ae60;
  // color: #f1c40f;
  // text-shadow: 0px 2px 2px #ccc;
}

body .reveal h3 {
  font-family: 'Droid Serif', serif;
  font-weight: bold; 
  font-size: 1em;
  color: #16a085; 
  // color: #fff;
  // text-shadow: 0px 2px 2px #ccc;
}

body .reveal h4 {
  font-family: 'Droid Serif', serif;  
  font-weight: bold; 
  font-size: 0.9em; 
  // color: #fff;  
  // text-shadow: 0px 2px 2px #333;
}

body .reveal {
  // color: white;
  font-family: 'Yantramanav';
}

body .reveal a {
 // color: #eee;
 text-decoration: underline; 
}

body .reveal table {
  font-size: 0.6em;
}

body .reveal img {
  border: none;
  background: transparent;
  box-shadow: none;
}

body .reveal ul {
  line-height: 2;
}

body .reveal pre code {
  background: #efefef;
  color: #333;
}